<!DOCTYPE html>
<html lang="en">
  {% include "bootstrap_loader.html" %}

  {% include "navbar.html"%}
  {% include "jumbotron.html" %}

  <div class="container">
    <div class="row justify-content-center">
      <h1> About </h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-8">
        <h5><strong>What is the purpose of this site?</strong></h5>
        <p>
          To help people find out which companies hire software engineers filtered by their geographic location. Outside of narrowing down companies based on their location, analysis is also performed to help people find interesting companies amongst the crowd.
        </p>

        <h5><strong>What was the technology used in creating this site?</strong></h5>
        <p>
          The web crawling scripts were written in Python, and the main website is written in Django.
        </p>

        <h5><strong>Could this be easily expanded to different cities?</strong></h5>
        <p>
          It doesn't take much to find information on new cities. For example: The scripts were tested in Ottawa, ON before being ran on San Francisco. However, I don't want to mix all the data together as the algorithm relies on relative scoring - and I'd imagine that a lot of websites will be biased towards company in the valley.
        </p>

        <h5><strong>Were there any interesting results in analyzing the data?</strong></h5>
        <p>
          Please look at the analysis section found <a href="{% url 'analysis' %}">here</a>.
        </p>
      </div>
    </div>
  </div>
</html>
