{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
  <script>
    $(document).ready(function(){
      $('#myTable').DataTable({
        "initComplete": function(settings, json){
          //$('#myTable').removeAttribute("hidden");
          //$('#myTable').show();
          $('#myTable').removeClass("invisible");
        }
      });
    });
  </script>
</head>

<!--
Navbar with non-functioning buttons. This will ideally be moved to a separate html file, because it
will be used on multiple pages
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ReLocate</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active pr-5" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link pr-5" href="#">Analysis</a>
      <a class="nav-item nav-link pr-5" href="{% url 'leaderboards' %}">Leaderboards</a>
      <a class="nav-item nav-link pr-5" href="{% url 'about' %}">About</a>
      <!--
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
      -->
    </div>
  </div>
</nav>

<!--
Jumbotron with title and brief description
-->
<div class="jumbotron jumbotron-fluid text-white" style="background-color: #444444;">
  <div class="container">
    <h1 class="display-4 text-center">ReLocate</h1>
    <p class="lead text-center">Discover the best tech companies to work for in the bay area.</p>
  </div>
</div>

<div class="container">
  <table id="myTable" class="table table-striped invisible">
    <thead>
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Website</th>
        <th scope="col">Glassdoor Rating</th>
      </tr>
    </thead>
    <!--
    A loop in order to display all of the companies and their corresponding information
    -->
    <tbody>
      {% for company in company_list %}
      <tr>
        <td>{{company.name}}</td>
        <td>{{company.website}}</td>
        <td>{{company.rating}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

