<!DOCTYPE html>
<html lang="en">
  {% include "bootstrap_loader.html" %}

  <head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
      $(document).ready(function(){
        $('#myTable').DataTable({
          "order": [[4, "desc"]],
          "initComplete": function(settings, json){
            $('#myTable').removeClass("invisible");
          }
        });
      });
      function sliderUpdated(val){
        document.getElementById("weightValue").value = val;
      }
      function textboxUpdated(val){
        document.getElementById("weightingRange").value = val;
      }

    </script>
  </head>

  {% include "navbar.html"%}
  {% include "jumbotron.html" %}

  <div class="container">
    <div class="row px-5 justify-content-center">
      <h5><strong>What does the weighting parameter do?</strong></h5>
      <p>
        The higher this number is, the more votes a company needs to rank higher on the charts. For example: at 10, we see Harness at the number 1 spot - but at 25, Zynga is ranked 1. Try setting it yourself to see the results.
      </p>
    </div>
    <!--
    Range slider for weighting parameter
    -->
    <div class="row">
      <div class="col-6">
        <input type="range" class="custom-range" min="0" max="100" id="weightingRange" value="{{weighting}}" oninput="sliderUpdated(this.value);">
      </div>
      <div class="col-6">
        <form action="{% url 'root' %}" method="get">
          <label for="weightingRange">Weighting Parameter:</label>
          <input type="text" id="weightValue" name="weight" value="{{weighting}}" size="5" style="text-align: center" onchange="textboxUpdated(this.value)">
          <input type="submit" value="Apply Weighting">
        </form>
      </div>
    </div>

    <!--
      Data table of all the companies
    -->
    <div class="row py-4">
      <table id="myTable" class="table table-striped invisible">
        <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Website</th>
            <th scope="col">Glassdoor Rating</th>
            <th scope="col">Number of Reviews</th>
            <th scope="col">Weighted Rating</th>
          </tr>
        </thead>
        <!--
        A loop in order to display all of the companies and their corresponding information
        -->
        <tbody>
          {% for company in company_list %}
          <tr>
            <td>{{company.name|title}}</td>
            <td>{{company.website}}</td>
            <td>{{company.rating}}</td>
            <td>{{company.reviewCount}}</td>
            <td>{{company.weightedRating | floatformat:2}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row pt-4">
    </div>
  </div>
</html>
